insightface
onnxruntime
faiss-cpu
numpy<2
pillow
tqdm

fastapi
uvicorn
python-multipart

b2sdk
python-dotenv
requests

python-jose
passlib[bcrypt]
bcrypt==4.0.1

sqlalchemy
psycopg2-binary


pyotp
qrcode[pil]
opencv-python-headless==4.9.0.80