opencv-python-headless==4.9.0.80
insightface
onnxruntime
faiss-cpu
numpy
pillow
tqdm

fastapi
uvicorn
python-multipart

b2sdk
python-dotenv
requests

python-jose
passlib[bcrypt]
bcrypt==4.0.1

streamlit

pyotp
qrcode[pil]